 
html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  


}
body{
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  overflow-y: scroll;
}
#whole-page-home{

}
 #main-content{

  background: rgb(38, 39, 41);
  height: 100vh;
  -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.0.6)));
      
 }

 #main{
  background: #2f3240 ;
  height: 100vh;
 }

 .text-drain{
    color:rgba(116, 112, 137,0.78) !important

 }

 
 
 #slider {
  width: 400px;
  height: 90px;
  position: relative;
  margin: 100px auto;
  background: #10171D;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}
#slider .bar {
 
  width: 388px;
  height: 90px;
  background: #333;
  position: relative;
  top: -4px;
  left: 4px;
  background: #1d2e38;
  background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d2e38), color-stop(50%, #2b4254), color-stop(100%, #2b4254));
  background: -webkit-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -o-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -ms-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d2e38', endColorstr='#2b4254', GradientType=1);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
#slider .highlight {

}
input[type="range"] {
  -webkit-appearance: none;
  background-color:rgb(42 56 66);
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  height: 2rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top:-1rem;
  z-index: 4rem;
  width: 1rem;
  height: 3rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 5px 0px rgb(255, 187, 0);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 187, 0)), color-stop(50%, rgb(255, 187, 0)), color-stop(51%, rgb(255, 187, 0)), color-stop(100%, rgba(235, 170, 1, 1)));
}
input[type="range"]:hover ~ #rangevalue,
input[type="range"]:active ~ #rangevalue {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: -75px;
 
}
/* Tool Tip */

#rangevalue {
 
  color: rgb(255, 187, 0);
  font-size: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: block;
  color: #fff;
  margin: 20px 0;
  position: relative;
  left: 44.5%;
  padding: 6px 12px;
  border: 1px solid black;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222931), color-stop(100%, #181D21));
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: -95px;
}
input[type="range"]:focus {
  outline: none;
 
}
#first-page-background{
  /*clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 0 100%, 14% 48%, 0 0);*/
  clip-path: polygon(100% 0, 100% 48%, 100% 100%, 46% 100%, 27% 54%, 4% 0);
 opacity: 70%;
  -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.8)));
      position: absolute;
      right:0;
      filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.1));
   
      height:103%
}

#second-page-background{
  z-index: 0;
  position: absolute;
  filter:brightness(30%);
  

}
#second-page-background::after{
 
 box-shadow: inset 3px 3px 10px 0 #ff0000;
 content: '';
 display: block;
 height: 100%;
 position: absolute;
 top: 0;
 width: 100%;

}
#page-two-content{


}


.custom-bg-blue-ocean {
  background-color: #b6e5ec
}
 
.custom-title-main {
  
  -webkit-animation-name: slideInFromLeft;
  animation-name: slideInFromLeft;
-webkit-animation-duration: 0.2s;
animation-duration:  0.2s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
animation-timing-function: linear;



  position: relative;
 
  display: inline-block;
  
  
}

.custom-title-main::before {
 content:' '   ;
 position: absolute;
 background :rgb(236, 177, 15)  ;
 width:115%;
 height:100%;
 display: inline-block;
 right:0px;
 animation-delay: 0.6s !important;
animation: 0.5s ease-out 0s 1 vanish;
box-shadow: 5px 10px 18px #2f2d2d;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-ms-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}


 
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-20%);

  }
  
  100% {
    transform: translateX(0);
    
  }
}

@keyframes shrink {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(20%);

  }
  100% {
    transform: translateX(0);

  }
}


@keyframes vanish {
  0% {
   width:100%;
  }
  30% {
    width:30%;

  }
  100% {
    width:0%;
    visibility: hidden;
  }
}

.custom-shadow{

  filter: drop-shadow(0px 4px 1px rgba(0,0,0,0.4));


   
}


.custom-shadow-1{

  filter: drop-shadow(1px 4px 1px rgba(0,0,0,0.6));
   
}

.custom-index{
  z-index: 1;
}

.custom-clip-shadow{
   
    position: absolute;
    z-index: 0;
    content: "";
    background: rgba(0, 0, 0, .5);
    width:100%;
    height: 100%;
    left: 5px;
    top: 5px;
    
}

a{
  text-decoration: none;
}
@for $i from 1 through 10 {
  .class-#{$i} {
    font-size: rem-calc($i);
  }
}
.custom-font-size{
  font-size: 2.5rem;
}
.custom-margin-top{
 margin-top: 11rem;
}

.custom-margin-left{
  margin-left: 5rem !important;
}

.custom-margin-left{
  margin-left: 5rem !important;
}

.custom-margin-left{
  margin-left: 5rem !important;
}
.custom-font-bold{
  font-weight: bolder;
}

.custom-font-family{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


 .custom-flex-center{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
 }


 .square-wrapper2 {
  position:absolute;
  width: 100%;
  height: 100%;
 }

 img{
  scroll-snap-align: start;
 
 }

  

 .custom-fade-in{
  
  animation: fadeIn 3s ease 0s  normal none, slide-down 3s ease 0s  normal none;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide-down{
 
 
}

@keyframes fadeIn {
  0.0%{
    opacity: 0;
}
40.4%{
    opacity: 1;
}
}

@keyframes slide-down {
  0.0%{
    transform: translate(0px,2%);
}
100%{
    transform: translate(0px,0%);
}
29.5%{
    transform: translate(0px,0%);
}
}
